/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/nbproject/private/
/build/
/dist/
/producerfields/nbproject/private/
/producerfields/build/
/webapp1/target/
/mavenproject1/target/